#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    macros {
        Paste_Special: Paste_Special {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp H &kp V>;
            label = "PASTE_SPECIAL";
        };

        Border: Border {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp H &kp B>;
            label = "BORDER";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
&kp LEFT_SHIFT  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp BSPC  &kp LEFT_ALT  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp SEMI  &kp SQT  &kp LCTRL  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC  &mo 1  &kp SPACE  &kp BACKSPACE  &kp LEFT_SHIFT  &kp ENTER  &mo 2
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <
&trans  &trans  &trans  &trans  &kp K_SCROLL_UP  &kp K_SCROLL_DOWN  &kp LC(H)  &kp HOME  &kp UP_ARROW  &kp END  &trans  &trans  &trans  &kp LC(A)  &trans  &mkp MCLK  &mkp LCLK  &mkp RCLK  &kp LC(F)  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &trans  &trans  &trans  &kp LC(Z)  &kp LC(Y)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &Paste_Special  &Border  &kp LS(F2)  &kp PAGE_UP  &kp PAGE_DOWN  &trans  &trans  &kp SPACE  &kp DELETE  &kp TAB  &kp ENTER  &mo 3
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans  &trans  &kp GRAVE  &kp EXCLAMATION  &kp AMPERSAND  &kp DOLLAR  &kp PERCENT  &kp MINUS  &kp PLUS  &kp EQUAL  &kp ASTERISK  &kp SINGLE_QUOTE  &trans  &trans  &kp F8  &kp F9  &kp F10  &kp F2  &kp F4  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SLASH  &kp BACKSLASH  &kp ESCAPE  &trans  &kp LEFT_SHIFT  &kp SPACE  &kp BACKSPACE  &trans  &kp ENTER  &trans
            >;
        };

        adj {
            display-name = "ADJ";
            bindings = <
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F12  &trans  &trans  &kp LG(UP_ARROW)  &trans  &trans  &trans  &trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans  &kp LG(LEFT_ARROW)  &kp LG(DOWN_ARROW)  &kp LG(RIGHT)  &trans  &trans  &trans  &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
